name: MacOSBuild

on: workflow_dispatch

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: x86_64-apple-darwin,aarch64-apple-darwin
      
      - name: Build (Intel)
        run: cargo build --release --target x86_64-apple-darwin

      - name: Build (Apple Silicon)
        run: cargo build --release --target aarch64-apple-darwin

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: macos-binaries
          path: |
            target/x86_64-apple-darwin/release/
            target/aarch64-apple-darwin/release/
