name: WindowsBuild

on: workflow_dispatch

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --release --verbose

      
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: windows-binaries
        path: target/release/
